body main section#servicos{
    background-color: white;
    width: 100%;
    margin: 0% auto;
}
.quadro2{
    display: flex;
    background-color: #d9f0d9;
    text-decoration: none;
    flex-direction: column;
    width:80%;
    margin: 2% auto;
}
.containerIma{
    display: flex;
    width: 100%;
}

body main section#servicos div ul li .textoServico{
    padding: 3%;
}

@media screen and (max-width: 900px) {
    body main section#servicos{
        width: 105%;
    }
    .quadro2{
        width:100%;
        margin-left: -7%;
    }
}